@use "../../variables" as x;

.to-top-button {
  position: fixed;
  right: 10%;
  bottom: 7rem;
  width: 3rem;
  height: 3rem;
  transition: all 0.5s ease-in-out;
  border: 2px solid #18273a;
  opacity: 0;
  @include x.center-content();
  border-radius: 0.2rem;
}

.to-up-icon {
  width: 2rem;
}

.show {
  opacity: 1;
}

.no-interaction {
  cursor: context-menu;
}

@media screen and (max-width: 1000px) {
  .to-top-button {
    bottom: 5rem;
    width: 2.7rem;
    height: 2.7rem;
  }

  .to-up-icon {
    width: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  .to-top-button {
    bottom: 3rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .to-up-icon {
    width: 1.5rem;
  }
}
