@use "../../variables.scss" as x;

.web-projects-overview {
  display: flex;
  width: 90%;

  &__project-overview {
    width: 100%;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
}

@media screen and (max-width: 1700px) {
  .web-projects-overview {
    width: 95%;

    &__project-overview {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 1400px) {
  .web-projects-overview {
    width: 100%;

    &__project-overview {
      padding: 1.5rem;
      column-gap: 1.5rem;
      row-gap: 3rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .web-projects-overview {
    width: 95%;

    &__project-overview {
      padding: 1.5rem;
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 600px) {
  .web-projects-overview {
    width: 100%;

    &__project-overview {
      padding: 0.5rem;
      row-gap: 1.5rem;
    }
  }
}
